* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

body {
	font-size: 16px;
	color: #000;
	background-color: #fff;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #808080;
	border-radius: 0;
	border: 2px solid black;
}

.container {
	
}

.navbar-header {
	height: 70px;
	
}

.navbar-brand {
	padding-top: 20px;
	
}

.navbar-brand h1 { /* Brand name */
	color: #3e3e3e;
	font-size: 2.1em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;

 }

 #nav-list {
 	margin-top: 10px;
 }

 #nav-list a {
 	color: #000;
 	text-align: center;
 }

 #nav-list a:hover {
 	background: #ac5353;
 }

 #nav-list a span {
 	font-size: 1.8em
 }

 .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
 	border: 1px solid #000;
 }

 .navbar-header button.navbar-toggle {
 	clear: both;
 	margin-top: -50px;
 }

 /* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    height: 70px;
  }
  .navbar-brand h1 { /* Product name */
    padding-top: 0px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav {
  	border: 0px;
  }


  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    background-color: #fff;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

}

.bold {
	font-weight: bold;
}

h2 {
	font-size: 1.5em;
}

p {
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
}

.background-gray {
	background-color: #808080;
}
.border {
	border-top: 1px solid black;
}